.container
   .row
     .col-sm-8.blog
       section
         h1
           a(href='#') Virginia beach.
         p.lead
           a(href='index') SD LLC
         hr
         p
           span.glyphicon.glyphicon-time
           | Wed Dec 31 19:03:12 EST 2014
         hr
         img.img-responsive(src='images/landview4.jpg')
         hr
         p Virginia beach.
         a.btn.btn-primary(href='#') Read More »
         hr
       ul.pagination
         li
           a(href='#') «
         li.active
           a(href='#') 1
         li
           a(href='#') 2
         li
           a(href='#') 3
         li
           a(href='#') 4
         li
           a(href='#') 5
         li
           a(href='#') 6
         li
           a(href='#') »
     .col-sm-4.sidebar
       h3.tpad Search
       section
         .input-group.input-group-sm.tpad
           span.input-group-addon.glyphicon.glyphicon-search
           input.form-control.input-lg(type='text', placeholder='Search')
           span.input-group-btn
             button.btn.btn-default(type='button') Go
         hr
       section
         h3.tpad Tags
         a.list-group-item.active(href='#')
           span.badge 25
           | All Tags
         a.list-group-item(href='#')
           span.badge 15
           | c++/c
         a.list-group-item(href='#')
           span.badge 5
           | python
         a.list-group-item(href='#')
           span.badge 3
           | java
         a.list-group-item(href='#')
           span.badge 2
           | ruby
         hr
       section
         h3.tpad Latest from Twitter
         .media.tpad
           a.pull-left(href='https://twitter.com/ftmikeyoung')
             img.media-object(src='images/baby_girl.jpg', alt='user', width='50%')
           .media-body
             h4.media-heading @sdong
             p.bpad Titanic is a good movie
         hr
