block footer
    .ftr
      .container
        .row
          footer
            .pull-left.ft_space
              address
                h3 SD LLC.
                |                             779 Java Dr
                br
                |                             Sunnyvale, CA, 94089
                br
                a(href='http://www.gmail.com') test@test
                br
                abbr(title='Phone') P:
                | 800-800-8000
            .pull-right.ft_space
              img.pull-right(src='images/office.jpg', width='300')
              p © SD LLC 2015
    // End footer

