extends layout

block content
    include carousel

block welcome
    include welcome

block marketcontent
    .marketing
      .container
        .row
          .col-sm-6
            img.img-responsive(src='images/flower4.jpg')
          .col-sm-6
            h3.tpad Flower
            hr
            p
              | A flower, sometimes known as a bloom or blossom, is the reproductive structure found in flowering plants (plants of the division Magnoliophyta, also called angiosperms). The biological function of a flower is to effect reproduction, usually by providing a mechanism for the union of sperm with eggs. Flowers may facilitate outcrossing (fusion of sperm and eggs from different individuals in a population) or allow selfing (fusion of sperm and egg from the same flower). Some flowers produce diaspores without fertilization (parthenocarpy). Flowers contain sporangia and are the site where gametophytes develop. Flowers give rise to fruit and seeds. Many flowers have evolved to be attractive to animals, so as to cause them to be vectors for the transfer of pollen.
            p
              a.btn.btn-large.btn-primary(href='#') Download it now!
    // End Marketing Section

