.container.padded
  .row
    .col-lg-12
      h2 Flower Properties
      hr
  .row
    .col-sm-6.col-md-3
      img.img-circle.img-responsive(src='images/flower1.jpg')
      h3 Flower 1
      p
        | The essential parts of a flower can be considered in two parts: the vegetative part, consisting of petals and associated structures in the perianth, and the reproductive or sexual parts.
      p
        a.btn.btn-default(href='#') View details »
    .col-sm-6.col-md-3
      img.img-circle.img-responsive(src='images/flower2.jpg')
      h3 Flower 2
      p
        | The essential parts of a flower can be considered in two parts: the vegetative part, consisting of petals and associated structures in the perianth, and the reproductive or sexual parts.
      p
        a.btn.btn-default(href='#') View details »
    .clearfix.hidden-md.hidden-lg
    .col-sm-6.col-md-3
      img.img-circle.img-responsive(src='images/flower3.jpg')
      h3 Flower 3
      p
        | The essential parts of a flower can be considered in two parts: the vegetative part, consisting of petals and associated structures in the perianth, and the reproductive or sexual parts.
      p
        a.btn.btn-default(href='#') View details »
    .col-sm-6.col-md-3
      img.img-circle.img-responsive(src='images/flower4.jpg')
      h3 Flower 4
      p
        | The essential parts of a flower can be considered in two parts: the vegetative part, consisting of petals and associated structures in the perianth, and the reproductive or sexual parts.
      p
        a.btn.btn-default(href='#') View details »
