.intro-block
  .container
    .row
      .col-xs-1
        img.img-responsive.tpad(src='images/logo.png')
      .col-xs-9
        h1
          | Shen Dong
          span.text-muted.tpad »My Home Page
        p.lead Should Learning Always Be Fun?

