.intro-block
  .container.welcome
    .row
      .col-xs-1.welcome-img
        img.img-responsive.tpad(src='images/logo.png')
      .col-xs-9.welcome-section
        h1
          .welcome-name Shen Dong
          span.text-muted.tpad.welcome-title »My Home Page
        .welcome-description
          p.lead Should Learning Always Be Fun?


